:root {
  --airLine--: rgb(6, 133, 170);
  --buttonAirLine--: rgb(223, 165, 18);
}

.backgroud-ticket{
  background-image: url("../../img/background.jpg");

}

.h1-ticket {
  color: var(--airLine--);
  text-align: center;

  font-family: 'Lato', sans-serif;
}

.section-ticket {
  margin: 30px 5%;
  display: flex;
  justify-content: space-between;
}

.section-ticket ul {
  padding: 0 !important;
}

.section-ticket-item {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}


.section-ticket-item button {
  background-color: white;
  border-color: var(--buttonAirLine--);
  color: var(--buttonAirLine--);
  border-radius: 5px;
  min-width: 150px;
  min-height: 40px;
}

.section-ticket-item button:hover {
  background-color: var(--buttonAirLine--);
  color: white;
  cursor: pointer;
}

.section-ticket-item .status-ticket {
  margin-left: 0;
  min-width: 100px;
  max-width: 150px;
  min-height: 33px;
}

.table-ticket {
  margin: 0 5%;

  /* position: relative; */
}

.table-ticket table {
  min-width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.table-ticket table td {
  padding: 10px 0;
  border-bottom: 1px solid #e3e3d5;
  text-align: center;
  height: 50px;
  max-width: 300px;
  min-width: 50px;
  font-family: 'Lato', sans-serif;
}

.table-ticket table thead {
  background-color: var(--airLine--);
}

.table-ticket table th {
  height: 35px;
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;

}

.pagination-ticket {
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin: 10px 5%;

}

.pagination-ticket .pagination-ticket-item {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}

.pagination-ticket .pagination-ticket-item button {
  background-color: var(--buttonAirLine--);
  border: none;
  font-size: small;
  width: 45px;
  height: 30px;
}

.pagination-ticket .pagination-ticket-item button:hover {
  color: white;
  background-color: rgb(122, 88, 3);
  cursor: pointer;
}

.icon-ticket {
  display: flex;
  justify-content: center;

}

.icon-ticket .icon-ticket-item {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}

.modal-search {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

}

#search-ticket {
  max-height: 240px;
}

.show-search-ticket {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 150px;
  /* display: none; */

  /*background-color: #d3d3b7;*/
}

.show-search-ticket ul {
  margin: auto;
  /* background-color: #b3d3d7; */
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 650px;
}

.show-search-ticket li {
  list-style: none;

}

.show-search-ticket ul {
  padding-left: 0 !important;
}

.show-search-ticket-header {
  width: 100%;
  background-color: var(--airLine--);
  display: flex;
  height: 45px;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/*.show-search-ticket-header-item {*/
/*    display: inline-block;*/
/*    margin: 0;*/
/*    width:20%;*/
/*    border: 0;*/
/*    padding-top: 10px;*/
/*    height: 55px;*/
/*    position: absolute;*/
/*}*/
.show-search-ticket-header ul {
  width: 100%;
  margin: 0;
}

.show-search-ticket-header-item:hover {
  background-color: rgb(38, 79, 162);
}

.show-search-ticket-header .item-one {
  height: 45px;
  width: 33.3%;
  border-top-left-radius: 5px;
  text-align: center;
  position: absolute;
}

.show-search-ticket-header .item-two {
  left: 33.3%;
  height: 45px;
  width: 33.3%;
  text-align: center;

  position: absolute;
}

.show-search-ticket-header .item-three {
  left: 66.7%;
  height: 45px;
  width: 33.3%;
  text-align: center;
  border-top-right-radius: 5px;
  position: absolute;
}

.show-search-ticket-header-item p {
  padding-top: 10px;
  color: white;
}

.show-search-ticket-header-item i {
  color: white;
  margin-right: 5px;
}

.show-search-ticket-body-sale-selection {
  display: flex;
  justify-content: start;
}

.show-search-ticket-body-sale-selection-item {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.show-search-ticket-body-sale-selection-item:first-child {
  margin-left: 50px;
}

.show-search-ticket-sale-body {
  margin: 10px 30px;
}

.show-search-ticket-body-sale-selection-item button {
  margin-top: 15px;
  border-radius: 10px;
  background-color: #e7e3d5;
  border-color: #e3e3d5;
  width: 100px;
  min-width: 80px;
}

.show-search-ticket-body-sale-selection-item button:hover {
  background-color: var(--airLine--);
  color: white;
  border-color: var(--airLine--);
  cursor: pointer;
}

.show-search-ticket-body-input {
  display: flex;
  justify-content: start;
  margin: 20px 30px;
}


.show-search-ticket-body-input-item {
  display: inline-block;
}

.show-search-ticket-body-input-item i {
  margin: 0 10px;
}

.show-search-ticket-body-input-item label {
  width: 80px;
}

.show-search-ticket-body-input-item .select {
  border: none;
  margin: 10px 10px;
  width: 245px;
  color: var(--airLine--);
}

.show-search-ticket-body-input-item .select:hover {
  border: none;
  border-bottom: 3px solid var(--airLine--);
}

.show-search-ticket-body-input-item input {
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0 10px;
  margin-left: 45px;
  min-width: 30%;
  border-color: #e3e3d5;
  color: var(--airLine--);
}

.show-search-ticket-body-input-item input {
  border: none;
}

.show-search-ticket-body-input-item input:hover {
  border-bottom: 3px solid var(--airLine--);
}

.show-search-ticket-body-input-item input:checked {
  border: none !important;
}

.show-search-ticket-body-input-item input[type='date'] {
  width: 115px;
}

.show-search-ticket-body-input-item input[type='text'] {

  min-width: 240px;
}

.show-search-ticket-body-input-item label {
  color: var(--airLine--);
  margin-top: 10px;
  margin-left: 15px;
  top: 0;
}

.show-search-ticket-body-submit {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0 30px !important;

}

.show-search-ticket-body-submit ul {
  margin-top: 5px !important;
  margin-left: 5px;
}

.show-search-ticket-body-submit li {

  display: inline-block;
}

.show-search-ticket-body-submit ul:first-child {
  max-width: 250px;

}

.show-search-ticket-body-input-passenger label {
  color: var(--airLine--);
  min-width: 110px;
  margin: 0 10px;
}

.show-search-ticket-body-input-passenger input[type='date'] {
  border: none;
  max-width: 120px;
  color: var(--airLine--);
}

.show-search-ticket-body-input-passenger input[type='date']:hover {
  border-bottom: 3px solid var(--airLine--);
}

.show-search-ticket-body-input-passenger button {
  border-radius: 10px;
  min-width: 100px;
  max-width: 120px;
  background-color: #e7e3d5;
  border-color: #e3e3d5;
  cursor: pointer;
}

.show-search-ticket-body-input-passenger button:hover {
  background-color: var(--airLine--);
  border-color: var(--airLine--);
}

.show-seat-ticket-body-input {
  display: flex;
  justify-content: space-around;
}

.show-seat-ticket-body-input-item {
  display: inline-block;
  margin: 30px 10px;
}

.show-seat-ticket-body-input-item input {
  border-radius: 5px;
  border: none;
}

.show-seat-ticket-body-input-item button {
  border-radius: 5px;
  background-color: #e7e3d5;
  min-width: 70px;
}

.show-seat-ticket-body-input-item button:hover {
  background-color: var(--airLine--);
  border-color: var(--airLine--);
}

.show-route-ticket-body-input {
  display: flex;
  justify-content: space-around;
}

.show-route-ticket-body-input-item {
  display: inline-block;
  margin: 30px 10px;
}

body {
  font-family: Roboto, sans-serif;
}

.show-route-ticket-body-input-item input {
  border-radius: 5px;
  border: none;
  width: 150px;
}

.show-route-ticket-body-input-item button {
  border-radius: 5px;
  min-width: 100px;
  background-color: #e7e3d5;
}

.show-route-ticket-body-input-item button:hover {
  background-color: var(--airLine--);
  border-color: var(--airLine--);
}

.section-unBook-ticket {
  display: flex;
  justify-content: space-between;
  margin: 30px 5%;
}

.section-unBook-ticket-item {
  list-style: none;
  display: inline-block;

}

.section-unBook-ticket ul {
  padding: 0 !important;
}

.section-unBook-ticket-item input {
  margin: 0 10px;
  max-width: 150px;
  border-radius: 5px;
  min-height: 40px;
  cursor: pointer;
  border-color: var(--airLine--);
}

.section-unBook-ticket-item button {
  border-radius: 5px;
  cursor: pointer;
  border-color: var(--buttonAirLine--);
  background-color: white;
  min-width: 150px;
  min-height: 40px;
  color: var(--buttonAirLine--);
}

.section-unBook-ticket-item button:hover {
  background-color: var(--buttonAirLine--);
  color: white;
}


.err-mess {
  color: red;
}

.show-unbooked {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
}

.show-unbooked-border {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 202, 210, 0.4);
}

.content-unbooked {
  font-weight: bold;
  position: absolute;
  top: 125px;
  left: 33%;
  position: relative;
  width: 600px;
  height: 500px;
  background-color: #dee4ea;
  border-radius: 10px;
  box-sizing: border-box;
}

.content-unbooked-header {
  font-weight: bold;
  width: 600px;
  height: 70px;
  background-color: #385dbb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 25px;
}

.body-unbooked-header ul {
  padding: 0 !important;
  margin: 0 15px !important;
}

.content-unbooked-body {
  list-style: none;
  margin: 15px 0;
}

.content-unbooked-body i {
  color: var(--airLine--);
  margin-right: 15px;
}



.content-unbooked-body th {
 
  text-align: right;
  background-color: #dee4ea !important;
  font-style: none !important;
  padding-bottom: 10px;
  min-width: 130px;
}
.content-unbooked-body thead tr th:last-child{
  padding-left: 0;
  max-width: 20px;
}
.content-unbooked-body td{
  text-align: right;
}


.content-unbooked-body-plane {
  display: inline-block;
  font-weight: bold;
  color: var(--airLine--);
  min-width: 250px;
  text-align: center;
}

.content-unbooked-header .name-route {
  padding-top: 17px;
  text-align: center;
  color: white;
}

.content-unbooked-body-chair {
  display: inline-block;
  list-style: none;
  color: black;
  width: 24%;
  margin-bottom: 15px;
}

.content-unbooked-body-seat {
  display: inline-block;

}

.content-unbooked-body-seat:first-child {
  margin-right: 10px;
}

.content-unbooked-body:last-child {
  padding: 0 50px;
  text-align: right;
}
.content-unbooked-body .position-unbooked-seat{
  text-align: center;
  color: var(--airLine--);
}
.content-unbooked-body:last-child button{
  border-radius: 5px;
  min-width: 100px;
  border-color: var(--airLine--);
  background-color: var(--buttonAirLine--);
}
.content-unbooked-body:last-child button:hover{
  background-color: var(--airLine--);
  color: white;
}
