.app-content {
  box-sizing: border-box;
}

.ticket {
  width: 100%;
  margin: 20px auto;
  background-color: white;
  border: 5px solid rgb(6, 133, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 10px #888888;
}

.info {
  padding: 30px;
}

.codeGym {
  text-align: center;
  color: white;
}

.print {
  font-size: medium;
  color: #0055a3;
  background-color: rgb(6, 133, 170);
  padding-left: 10px;
  margin-left: 0px;
}

.label {
  font-weight: bold;
  color: #0055a3;
}

.date {
  padding-right: 30px;
}

.condition-list {
  list-style: none;
  margin-left: 20px;
}

.thank-you {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-6 {
  width: 50%;
}

.label::before,
.value::before,
.passenger-list li::before,
.condition-list li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.label::before {
  background-color: #0055a3;
}

.value::before,
.condition-list li::before {
  background-color: #888888;
}

.button-area {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 50px;
  margin-top: -400px;
}

.button-area button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(217, 171, 52);
  color: white;
  border: 3px solid rgb(6, 133, 170);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
}

.button-area button[primary="true"] {
  background-color: rgb(223, 165, 18);
  color: #fff;
}

.button-area button:hover {
  background-color: rgb(228, 214, 177);
}
.imgPrint{
  background-image: url("/src/logo_5.png");
}
@media (max-width: 768px) {
  .ticket {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
  }

  .title {
    font-size: 20px;
  }

  .row {
    flex-direction: column;
  }

  .col-6 {
    width: 100%;
  }

  .button-area button {
    padding: 8px 16px;
    font-size: 14px;

  }
}