.app-content {
  box-sizing: border-box;
}
  .print-ticket{
    border: 7px solid rgb(6, 133, 170);
    border-radius: 20px;
    box-shadow: 0px 0px 10px #888888;
    margin-top: 20px;
  }
 .print-ticket .print {
  width: 100%;
  background-color: rgb(6, 133, 170);
  border: 10px solid rgb(6, 133, 170);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  margin-left:0px;
  margin-bottom: 2px;
}
 .info {
  padding: 30px;
}
 .codeGym {
  text-align: center;
  color: white;
}
 .print-ve {
  font-size: medium;
  background-color: rgb(6, 133, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 10px #888888;
  padding-left: 10px;
  margin-left: 0px;
}
 .print img{
  height: 50px;
}
 .label {
  font-weight: bold;
}
 .date {
  padding-right: 30px;
}
.condition-list {
  list-style: none;
  margin-left: 20px;
}
.print-ve .thank-you {
  text-align: center;
  margin-top: 20px;
  color: white;
}
.print-ve{
  margin-top: -20px;
}
 .print-ticket .row {
  display: flex;
  justify-content: space-between;
}
 .col-6 {
  width: 50%;
}
.label::before,
 .value::before,
 .passenger-list li::before,
 .condition-list li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
 .label::before {
  background-color: #0055A3;
}
 .label {
 color: rgb(6, 133, 170);
}
.print-container {
  width: 100%;
  max-width: 500vh;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}
/* #print .value::before,
#print .condition-list li::before {
 font-weight: bold;
} */
 .button-print {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding-bottom: 20px;
}
 .button-print button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(217, 171, 52);
  color: white;
  border: 3px solid rgb(6, 133, 170);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  margin-top: 20px;
}
 .button-print button[primary="true"] {
  background-color: rgb(223, 165, 18);
  color: #fff;
}
 .button-print button:hover {
  background-color: rgb(228, 214, 177);
}
@media (max-width: 768px) {
   .ticket {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
  }
  .print-container {
    padding: 10px;
  }
   .title {
    font-size: 20px;
  }
  .vu .row {
    flex-direction: column;
  }
  .col-1{
    height: 100%;
    width: 100%;
  }
  .vu .col-6 {
    width: 100%;
  }
   .button-print button {
    padding: 8px 16px;
    font-size: 14px;
  }
}