.background-image {
  width: 70%;
  margin-left: 15%;
  justify-items: center;
  font-family: 'Times New Roman', Times, serif;
  border: 5px solid rgb(6, 133, 170);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  box-sizing: border-box;
  margin-top: 20px ;
  margin-bottom: 20px;
}

/* .container {
  background-color: white;
} */

.passenger {
  padding-left: 30px;
}

.class {
  padding-left: 30px;
}

.title {
  text-align: center;
  margin-left: 90px;
}

.table-title {
  text-align: center;
  margin-bottom: 20px;
}



.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

h2 {
  font-size: 24px;
  color: white;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  display: block;
}
.star{
  color:red;
}



.form-control {

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-controler {
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: beige;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(223, 165, 18);
  color: #fff;
  border: 3px solid rgb(6, 133, 170);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
}

.btn-secondary {
  background-color: rgb(223, 165, 18);
  color: white;
  margin-left: 10px;
  border: 3px solid rgb(6, 133, 170);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  text-decoration-line: none;
}

.btn:hover {
  opacity: 0.8;
}

.update {
  background-color: rgb(6, 133, 170);
  margin-left: -90px;
  padding-bottom: 20px;
  padding-top: 10px;
  color: white;
}

b {
  color: #0055a3;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .background-image {
    width: 80%;
    margin-left: 10%;
  }

  .row {
    margin-left: 0;
  }

  .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .background-image {
    width: 90%;
    margin-left: 5%;
  }
}