  
  /*body {*/
  /*  font-family: Diavlo, sans-seriff;*/
  /*  background-image: url("../../img/background.jpg") ;*/
  /*  background-size: cover;*/
  /*  background-position: center;*/
  /*}*/

  
  .detail-history-ticket {
    
    max-width: 75%;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border: 5px solid #0055a3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
  }
  #detail-history .thanh-codegym-airline{
    color: #dfa512;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
  }
  #detail-history .thanh-logo img{
    margin-left: 25px;
    
  }
  #detail-history .thanh-logo
  
  #detail-history-historyent .title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #0055a3;
    font-weight: bold;
  }
  
  #detail-history  .label {
    font-weight: bold;
    font-size: 20px;
  }

  
  #detail-history .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  #detail-history .col-6 {
    width: 50%;
  }
  
  #detail-history .label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #0055a3;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  #detail-history .value::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #888888;
    margin-right: 10px;
    border-radius: 50%;
  }

  #detail-history .route {
    font-size: 25px;
    border: none;
    color: #dfa512;
    font-family: Diavlo, sans-seriff;
    font-weight: bold;
  }
 