

.paymentBackground {
  background-image: url("../../img/background.jpg");
background-size: cover;
 background-position: center;
}
  .payment-ticket {
    max-width: 75%;
    margin:auto;
    padding: 30px;
    background-color: white;
    border: 5px solid #0055a3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
  }
  #payment .thanh-codegym-airline{
    color: #dfa512;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
  }
  #payment .thanh-logo img{
    margin-left: 25px;
    
  }
  #payment .thanh-logo
  
  #payment .title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #0055a3;
    font-weight: bold;
  }
  
  #payment  .label {
    font-weight: bold;
    font-size: 20px;
  }

  #payment .value {
    margin-top: -15px;
    margin-left: 20px;
  }
  
  #payment .thank-you {
    text-align: center;
    margin-top: 20px;
    color: gray;
  }
  
  #payment .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  #payment .col-6 {
    width: 50%;
  }
  
  #payment .label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #0055a3;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  #payment .route {
    font-size: 25px;
    border: none;
    color: #dfa512;
    font-family: Diavlo, sans-seriff;
    font-weight: bold;
  }
 