
.picker-container {
    /* position: relative; */
    /* width: 300px; */
}
.emoji-icon {
    cursor: pointer;
    /* position: absolute; */
    top: 8px;
    right: 5px;
}
.input-style {
    padding: 7px 30px 7px 10px;
    width: calc(100% - 40px);
    border-radius: 3px;
    border: 1px solid #999;
    margin-bottom: 10px;
}
.selected-user {
    background-color: #f0f0f0;
}

.bold {
    font-weight: bold;
}

.chat-history {
    list-style: none;
    /* padding: 0;
    margin: 0; */
}

.chat-history li {
    margin-bottom: 10px;
}


.chat-history .message{
    float: left;
    background-color: #d5d5d5;
    color: #1F698F;
    /* max-width: 700px; */
    padding: 10px;
    border-radius: 5px;
    /* overflow-wrap: break-word; */
}


.chat-history .self .message {
    background-color: #1F698F;
    color: #ffffff;
    /* overflow-wrap: break-word; */
}

.chat-history .other .message {
    background: #1F698F;
    color: #377893;
    overflow-wrap: break-word;
}

.chat-history  .self-message-user .message {
    background-color:  blue;
    color: #377893;
   max-width: 200px;
}

.chat-history .other-message-admin .message {
    float: right;
    background-color: #1F698F;
    color: #ffffff;
    overflow-wrap: break-word;
    max-width: 400px;
}
.chat-history .m-b-0 li{
    list-style-type: none;
}
.chat-history .m-b-0 .other-message-admin .message {
    float: right;
    background-color: #1F698F;
    color: #ffffff;
    overflow-wrap: break-word;
    max-width: 200px;
}
.chat-history .m-b-0 .seft-message-user .message {
    float: left;
    background-color:#ffffff ;
    color: #1F698F;
    overflow-wrap: break-word;
    max-width: 2    00px;
}
/* .reply {
    position: fixed;
} */
/* .plist{
    overflow-y: scroll;
} */
/* .reply input {
    width: 100%;
} */

/* .reply-main {
    padding-right: 0;
} */

.reply-send button {
    background-color: transparent;
    border: none;
}

.reply-send .fa-send {
    color: #1F698F;
    cursor: pointer;
}
 
.chat-app {
 overflow-y: auto;
 height: 400px;
}

.people-list {
    max-height: 450px;
    width: 696px;
    margin-left: 1px;
    max-height: 400px;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}
.people-list  li {
    padding: 10px 15px;
    list-style-type: none;
    border-radius: 3px
}
.chat-list
{
    padding: 10px 15px;
    border-radius: 3px
}
.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}
.people-list .chat-list li.active {
    background: #efefef
}
.people-list .chat-list li .name {
    font-size: 15px
}
.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}
.people-list img {
    float: left;
    border-radius: 50%
}
.people-list .about {

    padding-left: 8px
}
.people-list .status {
    color: #999;
    font-size: 13px
}
.chat_messenger .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}
.chat_messenger .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}
.chat_messenger .chat-header .chat-about {
    float: left;
    padding-left: 10px
}
.chat_messenger .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}
.chat_messenger .chat-history ul {
    padding: 0;
    max-height: 400px;
}
.chat_messenger .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}
.chat_messenger .chat-history ul li:last-child {
    margin-bottom: 0px
}
.chat_messenger .chat-history .message-data {
    margin-bottom: 15px
}
.chat_messenger .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}
.chat_messenger .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}
.chat_messenger .chat-history .message {
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    /* position: relative; */
    overflow-wrap: break-word;
}
.chat_messenger .chat-history .message:after {
    bottom: 100%;
    left: 7%;

    content: " ";
    height: 0;
    width: 0;
    /* position: absolute; */
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
    overflow-wrap: break-word;
}
.chat_messenger .chat-history .my-message {
    background: #efefef
}
.chat_messenger .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    /* position: absolute; */
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}
.chat_messenger .chat-history .other-message {
    /* background: #1f6987; */
    text-align: right
}
.chat_messenger .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}
.chat_messenger .chat-message {
    padding: 20px
}
.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}
.online {
    color: #86c541
}
.offline {
    color: #e47297
}
.me {
    color: #1d8ecd
}
.float-right {
    float: right
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    font-family: SansSerif;
    content: " ";
    clear: both;
    height: 0;
}

.reply {
    height: 50px;
}
.reply-emojis {
    /* position: relative; */
    left: 30px;
    padding: 5px 0 !important;
}
.reply-emojis i {
    padding: 5px 2px !important;
    font-size: 1.8em !important;
}
.reply-main {
    padding: 2px 8px !important;
}
.reply-main textarea {
    padding: 8px !important;
    font-size: 18px;
}
.reply-recording {
    /* position: relative; */
    left: 30px;
    padding: 5px 0 !important;
}
.reply-recording i {
    padding: 5px 0 !important;
    font-size: 1.8em !important;
}
.reply-send {
    padding-top: 7px;
    padding-left: 20px;
}
.reply-send i {
    padding: 5px 2px 5px 0 !important;
    font-size: 1.8em !important;
}
.fpt_ai_livechat_display_container #fpt_ai_livechat_container_header_chat {
    z-index: 10 !important;
    width: 150px !important;
    top: 0 !important;
    /* position: absolute !important; */
    padding: 0 16px 0 16px !important;
    color: white;
    display: flex !important;
    align-items: center;
    float: none !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    background: linear-gradient(246.7deg, #31b7b7 0.85%, #3353a2 98.94%);
    height: 50px !important;
    line-height: 50px !important;
    background-size: cover !important;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box !important;
}
.fpt_ai_livechat_display_container .fpt_ai_livechat_header_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fpt_ai_livechat_display_container .fpt_ai_livechat_container_header_chat button {
    padding: 0 0 0 8px !important;
    border: 0 !important;
    background: none !important;
    cursor: pointer !important;
    line-height: 1 !important;

}
.fpt_ai_livechat_display_container.fullscreen button.fpt_ai_livechat_container_header_chat_fullscreen_button {
    -webkit-transform: rotate(-180deg) !important;
    -moz-transform: rotate(-180deg) !important;
    -ms-transform: rotate(-180deg) !important;
    -o-transform: rotate(-180deg) !important;
    transform: rotate(-180deg) !important;

}
.fpt_ai_livechat_display_container button.fpt_ai_livechat_container_header_chat_fullscreen_button {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background: none !important;
    cursor: pointer !important;
    line-height: 1 !important;
    z-index: 99 !important;
    outline: none !important;
    box-shadow: none !important;

}
.fpt_ai_livechat_display_container .fpt_ai_livechat_container_header_chat button {
    padding: 0 0 0 8px !important;
    border: 0 !important;
    background: none !important;
    cursor: pointer !important;
    line-height: 1 !important;
}
.fpt_ai_livechat_container_header_chat_close_button {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
}
.fpt_ai_livechat_display_container .fpt_ai_livechat_container_header_chat button {
    padding: 0 0 0 8px !important;
    border: 0 !important;
    background: none !important;
    cursor: pointer !important;
    line-height: 1 !important;
}
.fpt_ai_livechat_display_container.fullscreen button.fpt_ai_livechat_container_header_chat_fullscreen_button {
    -webkit-transform: rotate(-180deg) !important;
    -moz-transform: rotate(-180deg) !important;
    -ms-transform: rotate(-180deg) !important;
    -o-transform: rotate(-180deg) !important;
    transform: rotate(-180deg) !important;
}
.fpt_ai_livechat_display_container button.fpt_ai_livechat_container_header_chat_fullscreen_button {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background: none !important;
    cursor: pointer !important;
    line-height: 1 !important;
    z-index: 99 !important;
    outline: none !important;
    box-shadow: none !important;
}
button#fpt_ai_livechat_button img {
    width: 64px !important;
    height: 64px !important;
}
#fpt_ai_livechat_button img {
    width: 36px !important;
    height: 36px !important;
}
img {
    opacity: 1;
    transition: opacity 0.3s;
}
button#fpt_ai_livechat_button {
    background-color: #046584 !important;
}
#fpt_ai_livechat_button {
    width: 62px !important;
    height: 62px !important;
    /* border-radius: 50% !important; */
    margin: 0 !important;
    /* box-shadow: inset 0 0.03em 0 #F6FAF9, inset 0 -0.03em 0 #F6FAF9, 0 0.03em 0.03em rgba(0, 0, 0, 0.08); */
    /* border: 1px solid black; */
    padding: 0 !important;
    border: 0 !important;
    min-width: 0 !important;
    overflow: hidden !important;
    /* background-clip: padding-box !important; */
    position: fixed !important;
    bottom: 25px !important;
    right: 25px !important;
    user-select: none !important;
    cursor: pointer !important;
    outline: none !important;
    /* background-color: red; */
    /* background: #FFFFFF url(resource\\logo-FPT.Ai.png) no-repeat; */
    /* background-color: #FFFFFF !important; */
    background-repeat: no-repeat !important;
    background-size: 35px !important;
    background-position-x: 14px !important;
    background-position-y: 14px !important;
    background: linear-gradient(90deg, #6D9CCB 0%, #00AFC8 99.79%);
    /* background-image: url(https://dev-local-v3.fpt.ai/livechat/src/resource/logo-FPT.Ai.png); */
    z-index: 2025 !important;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16) !important;
    border-radius: 100px 100px 0px 100px !important;
}
#message {
    box-sizing: border-box;
    background-image: url('../search_ticket/img/background.jpg');
    padding:  40px 0px 30px 30px;;
    font-family: "Diavlo", "sans-seriff";
    text-transform: capitalize;
    background-size: cover;
    background-position: center;
}
.form-popup {

    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 300px;
    border: none;
    border-radius: 15px;
    z-index: 9;
    background: white;
    border: 1px solid  #fff ;
}
.h22{
    background-color: #1f6987;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgb(223, 165, 18);
    text-transform: uppercase;
    font-weight: bold;
}
.h23{
    background-color: #1f6987;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgb(223, 165, 18);
    
}
/* .chat{
    border: none;
    background: #E2FFE8;
    font-size: 14px;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    text-transform: capitalize;
} */
.chat__conversation-panel__button {
   
    height: 20px;
    width: 30px;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;

}
.chat__conversation-panel .send-message-button {
    background: var(--chat-send-button-background);
    height: 50px;
    min-width: 30px;
    border-radius: 50%;
    transition: 0.3s ease;
}
.chat__conversation-panel .send-message-button:active {
    transform: scale(0.97);
}
.chat__conversation-panel .send-message-button svg {
    margin: 1px -1px;
}
.chat__conversation-panel__input {
    width: 80%;
    height: 70px;
    outline: none;
    padding-left: 20px;
    position: relative;
    color: var(--chat-text-color);
    font-size: 13px;
    background: transparent;
    border: 0;
    font-family: "Lato", sans-serif;
    resize: none;
}
.panel-item:not(:last-child) {
    margin: 0 1em 0 0;
}
.btn-icon {
    position: relative;
    cursor: pointer;
}
.btn-icon svg {
    stroke: #1f6987;
    fill: #1f6987;
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-popup::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
    display: none;
}

.form-popup::-webkit-scrollbar-thumb {
    background-color: #000000;
}
#style-7{
    width: 96%;
}


#style-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  #style-7::-webkit-scrollbar {
    width: 0;
    background-color: #f5f5f5;
  }
  
  #style-7::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.86, rgb(6, 133, 170))
    );
  }
  



#style-8::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  #style-8::-webkit-scrollbar {
    width: 0;
    background-color: #f5f5f5;
  }
  
  #style-8::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.86, rgb(6, 133, 170))
    );
  }
  