
:root {
  --airLine--: rgb(6, 133, 170);
  --buttonAirLine--: rgb(223, 165, 18);
}

* {
  margin: 0;
}

h1 {
  color: var(--airLine--);
  text-align: center;
}

.section-ticket {
  margin: 30px 5%;
  display: flex;
  justify-content: space-between;
}
.section-ticket ul{
  padding: 0 !important;
}
.section-ticket-item {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}


.section-ticket-item button {
  background-color: white;
  border-color: var(--buttonAirLine--);
  color: var(--buttonAirLine--);
  border-radius: 5px;
  min-width: 100px;
  min-height: 33px;
}

.section-ticket-item button:hover {
  background-color: var(--buttonAirLine--);
  color: white;
  cursor: pointer;
}

.section-ticket-item .status-ticket {
  margin-left: 0;
  min-width: 100px;
  max-width: 150px;
  min-height: 33px;
}

.table-ticket {
  margin: 0 5%;
  position: relative;
}

.table-ticket table {
  min-width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.table-ticket table td {
  padding: 10px 0;
  border-bottom: 1px solid #e3e3d5;
}

.table-ticket table thead {
  background-color: var(--airLine--);
}

th {
  height: 35px;
  color: white;
  text-align: center;
}

.pagination-ticket {
  display: flex;
  justify-content: flex-end;
  margin: 10px 5%;
}

.pagination-ticket .pagination-ticket-item {
  list-style: none;
  display: inline-block;

}

.pagination-ticket .pagination-ticket-item button {
  background-color: var(--buttonAirLine--);
  border: none;
  font-size: small;
  width: 45px;
  height: 28px;
}

.pagination-ticket .pagination-ticket-item button:hover {
  color: white;
  background-color: rgb(122, 88, 3);
  cursor: pointer;
}

.icon-ticket {
  display: flex;
  justify-content: center;

}

.icon-ticket .icon-ticket-item {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}

.show-search-ticket {
  position: absolute;
  top:0;
  left: 70px;
  width: 650px;
  /* display: none; */

  /*background-color: #d3d3b7;*/
}
.show-search-ticket ul{
  background-color: #b3d3d7;
  border-radius: 10px;
}
.show-search-ticket li{
  list-style: none;

}
.show-search-ticket ul {
 padding-left:0 !important;
}
.show-search-ticket-header {
  width: 100%;
  background-color: var(--airLine--);
  display: flex;
  height: 38px;
  position: relative;
  border-radius: 5px;
}

/*.show-search-ticket-header-item {*/
/*    display: inline-block;*/
/*    margin: 0;*/
/*    width:20%;*/
/*    border: 0;*/
/*    padding-top: 10px;*/
/*    height: 55px;*/
/*    position: absolute;*/
/*}*/
.show-search-ticket-header ul {
  width: 100%;
  margin: 0;
}

.show-search-ticket-header-item:hover {
  background-color: rgb(38, 79, 162);
}

.show-search-ticket-header .item-one {
  height: 38px;
  width: 33.3%;
  border-radius: 5px;
  text-align: center;
  position: absolute;
}

.show-search-ticket-header .item-two {
  left: 33.3%;
  height: 38px;
  width: 33.3%;
  border-radius: 5px;
  text-align: center;

  position: absolute;
}

.show-search-ticket-header .item-three {
  left: 66.7%;
  height: 38px;
  width: 33.3%;
  text-align: center;
  border-radius: 5px;
  position: absolute;
}

.show-search-ticket-header-item p {
  padding-top: 8px;
  color: white;
}

.show-search-ticket-header-item i {
  color: white;
  margin-right: 5px;
}
.show-search-ticket-body-sale-selection {
  justify-content: start;
}
.show-search-ticket-body-sale-selection-item{
  list-style: none;
  display: inline-block;
}
.show-search-ticket-sale-body{
  margin: 10px 30px; ;
}
.show-search-ticket-body-sale-selection-item button{
  margin-top: 15px;
  border-radius: 10px;
  background-color: #FBF9F2;
  border-color: #e3e3d5;
  min-width: 80px;
}
.show-search-ticket-body-sale-selection-item button:hover{
  background-color: var(--buttonAirLine--);
  color: white;
  border-color: var(--airLine--);
  cursor: pointer;
}

.show-search-ticket-body-input{
  display: flex;
  justify-content: start;
  margin: 10px 30px;
}
.show-search-ticket-body-input-item{
  display: inline-block;
}
.show-search-ticket-body-input-item select{
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 20px 10px;
  min-width:20%;
  border-color: #e3e3d5;
}

.show-search-ticket-body-input-item input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  margin: 20px 10px;
  min-width: 20%;
  max-width: 120px;
  border-color: #e3e3d5;
}
.show-search-ticket-body-submit{
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}
.show-search-ticket-body-input-passenger{
  display: inline-block;
}
.show-search-ticket-body-input-passenger input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  min-width: 30%;
  max-width: 120px;
  border-color: #e3e3d5;
}
.show-search-ticket-body-input-passenger button{
  border-radius: 10px;
  min-width: 100px;
  max-width: 120px;
  background-color: #FBF9F2;
  border-color: #e3e3d5;
  cursor: pointer;
  margin-left: 10px !important;
  margin-bottom: 20px;
}
.show-search-ticket-body-input-passenger button:hover{
  background-color: var(--buttonAirLine--);
  border-color: var(--airLine--);
}
.show-seat-ticket-body-input{
  display: flex;
  justify-content: space-around;
}
.show-seat-ticket-body-input-item{
  display: inline-block;
  margin: 30px 10px;
}
.show-seat-ticket-body-input-item input{
  border-radius: 5px;
  border: none;
}
.show-seat-ticket-body-input-item button{
  border-radius: 5px;
  min-width: 70px;
}
.show-seat-ticket-body-input-item button:hover{
  background-color: var(--buttonAirLine--);
  border-color: var(--airLine--);
}
.show-route-ticket-body-input{
  display: flex;
  justify-content: space-around;
}
.show-route-ticket-body-input-item{
  display: inline-block;
  margin: 30px 10px;
body {
   font-family: Roboto, sans-serif;
.show-route-ticket-body-input-item input{
  border-radius: 5px;
  border: none;
  min-width: 100px;
}
.show-route-ticket-body-input-item button{
  border-radius: 5px;
  min-width: 100px;
}
.show-route-ticket-body-input-item button:hover{
  background-color: var(--buttonAirLine--);
  border-color: var(--airLine--);
}



