body{
    font-size: 20px;
}
#detail-ticket {
    box-sizing: border-box;
    padding: 0;
    font-family: "Diavlo", "sans-seriff";
    margin: 40px 0px 30px 30px;
    text-transform: capitalize;
}


.wrapper {
    align-items: center;
    background: rgba(237, 234, 234, 0.422);
    padding: 30px 100px;

}
.d-flex{
    position: relative;
    left: 950px;
}
.title {
    background-color: #016984;
    color: #fff;
    padding: 25px 0;
    text-transform: uppercase;
}

.vietnam-airline {
    color: #016984;
}

#detail-ticket .wrap {
    margin-top: 40px;
    padding-left: 20px;
}

.wrap i {
    color: #78adb1;
    font-size: 24px;
    padding: 5px;
}


.wrap .location span {
    font-weight: bold;
}

.wrap .money {
    color: #016984;
    font-weight: bold;

}

.wrap .outstanding {
    color: #daa310;
    font-weight: bold;
}

.wrap p {
    font-weight: bold;
}

.info-second {
    margin-top: 20px;

}

.info-third {
    margin-top: 20px;
}

.logo-image {
    display: flex;
}

.logo-image img {
    padding: 0 5px;
    height: 26px
}

.btn {
    margin: 20px 0;
}
.btn .btn-success{
background-color: #016984;
color: #016984;
}
.btn button {
    border: none;
    background-color: #daa310;
    box-shadow: inset;
    color: #fff;
    height: 30px;
    width: 200px;
    font-size: 20px;
}

.btn button:first-child {
    margin-right: 40px;
}

.info-customer {
    border: 1px solid black;
    padding: 20px 0px;
    width: 80%;
}

.info-customer .check-children {
    display: flex;
}

.info-customer .field {
    padding: 5px 0;
}

.info-customer .field label {
    width: 30%;
}

.info-customer .field input,
.info-customer .field select {
    height: 24px;
    width: 40%;

}

.check-children input {
    margin: 0 5px 12px 5px;
}

@media (max-width: 768px) {
    #detail-ticket {
        font-size: 10px;
    }

    .title p {
        font-size: 20px;
    }

    .wrapper {
        padding: 0px;
        margin: 0px;
    }

    .wrap .infor-fight {
        display: block;
    }

    .logo-image img {
        display: none;
    }

    .btn button {
        margin-bottom: 10px;
    }

}