body {
    font-family: "Diavlo", "sans-seriff";
}

#booking {
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-position: center;
    color: #191a1e;
}
.booking-form {
    position: relative;
    background: #fff;
    width: 100%;
    height: 400px;
    margin: auto;
    padding: 45px 25px 25px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 20px;
}
.booking-form h2 {
    color: #166987;
}
.booking-form .form-control {
    background-color: #fff;
    height: 50px;
    padding: 0px 15px;
    padding-top: 24px;
    color: #191a1e;
    border: 2px solid #dfe5e9;
    font-size: 16px;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
    color: #dfe5e9;
}

.booking-form .form-control:-ms-input-placeholder {
    color: #dfe5e9;
}

.booking-form .form-control::placeholder {
    color: #dfe5e9;
}

.booking-form .form-control:focus {
    background: #f9fafb;
}

.booking-form input[type="date"].form-control:invalid {
    color: #dfe5e9;
}

.booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.booking-form select.form-control + .select-arrow {
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: #dfe5e9;
    font-size: 14px;
}

.booking-form select.form-control + .select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.booking-form .form-label {
    position: absolute;
    top: 6px;
    left: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    color: #166987;
}

.booking-form .form-checkbox input {
    position: absolute !important;
    margin-left: -9999px !important;
    visibility: hidden !important;
}

.booking-form .form-checkbox label {
    position: relative;
    padding-top: 4px;
    padding-left: 30px;
    font-weight: 700;
    color: #166987;
}

.booking-form .form-checkbox label + label {
    margin-left: 15px;
}

.booking-form .form-checkbox input + span {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #dfe5e9;
    border-radius: 50%;
}

.booking-form .form-checkbox input + span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #4fa3e3;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked) + span:after {
    opacity: 0;
}

.booking-form .form-checkbox input:checked + span:after {
    opacity: 1;
    width: 10px;
    height: 10px;
}

.booking-form .submit-btn {
    color: #fff;
    background-color: #daa310;
    font-weight: 400;
    height: 50px;
    font-size: 18px;
    border: none;
    width: 100%;
    border-radius: 4px;
    text-transform: uppercase
}

.booking-cta h1 {
    font-size: 52px;
    text-transform: uppercase;
    color: #4fa3e3;
    font-weight: 400;
}

.booking-cta p {
    font-size: 22px;
    color: #191a1e;
}
.carousel-inner .carousel-item img {
    max-width: 1300px;
    max-height: 365px;
}
.banner {
    margin: 30px 0;
}
.banner .col-2 img {
    width: 150px;
    height: 150px;
    padding: 5px;
    border: #018aa5 4px solid;
    align-items: center;
}
.banner .col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner .col-2 h6 {
    padding: 10px 0;
    color: #166987;
}
.travel button {
    background: #daa310;
    border-radius: 5px;
    border: #daa310 2px solid;
    outline: none;
    cursor: pointer;
    opacity: 1;
    color: white;
}
.travel button:hover {
    transform: scale(1.1);
    background-color: #daa310;
    color: white;
    border: #daa310 1px solid;

}
.find {
    padding-bottom: 35px;
    color: #166987;
    text-align: center;
}
.bonus {
    height: 400px;
}
.first-card img {
    height: 200px;
}
.second-card img {
    height: 200px;
}
.img-down {
    margin-top: 20px;
}
.title {
    color: #166987;
    text-align: center;
}
body button#fpt_ai_livechat_button img {
    width: 64px !important;
    height: 64px !important;
}
#fpt_ai_livechat_button img {
    width: 36px !important;
    height: 36px !important;
}
img {
    opacity: 1;
    transition: opacity 0.3s;
}
button#fpt_ai_livechat_button {
    background-color: #046584 !important;
}
#fpt_ai_livechat_button {
    width: 62px !important;
    height: 62px !important;

    margin: 0 !important;
   
    padding: 0 !important;
    border: 0 !important;
    min-width: 0 !important;
    overflow: hidden !important;

    position: fixed !important;
    bottom: 25px !important;
    right: 25px !important;
    user-select: none !important;
    cursor: pointer !important;
    outline: none !important;

    background-repeat: no-repeat !important;
    background-size: 35px !important;
    background-position-x: 14px !important;
    background-position-y: 14px !important;
    background: linear-gradient(90deg, #6D9CCB 0%, #00AFC8 99.79%);
   
    z-index: 2025 !important;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16) !important;
    border-radius: 100px 100px 0px 100px !important;
}
.fpt_ai_livechat_button_tooltip {
    max-width: 0;
    height: 34px;
    padding: 0 10px;
    border-radius: 34px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 39px;
    right: 50px;
    transition: all 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.fpt_ai_livechat_button_tooltip {
    transition: 0.3s ease-in !important;
    transition-property: opacity, width !important;
    opacity: 0 !important;
}

button#fpt_ai_livechat_button {
    background-color: #046584 !important;
}

#fpt_ai_livechat_button {
    width: 62px !important;
    height: 62px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    min-width: 0 !important;
    overflow: hidden !important;
    position: fixed !important;
    bottom: 25px !important;
    right: 25px !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    cursor: pointer !important;
    outline: none !important;
    background-repeat: no-repeat !important;
    background-size: 35px !important;
    background-position-x: 14px !important;
    background-position-y: 14px !important;
    background: linear-gradient(90deg, #6D9CCB 0%, #00AFC8 99.79%);
    z-index: 2025 !important;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16) !important;
    border-radius: 100px 100px 0px 100px !important;
}
.travel button {
    background: #daa310;
    border-radius: 5px;
    border: #daa310 2px solid;
    outline: none;
    cursor: pointer;
    opacity: 1;
    color: white;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
button {
    appearance: auto;
    
    text-rendering: auto;

    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;

    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}
.g-4, .gy-4 {
    --bs-gutter-y: 1.5rem;
}
.g-4, .gx-4 {
    --bs-gutter-x: 1.5rem;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
body {
    font-family: "Diavlo", "sans-seriff";
}
body {
    font-family: "Diavlo", "sans-seriff";
}
body {
    font-size: 20px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --bs-gutter-x: 1.5rem;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}
:host, :root {
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}
html {
    font-size: 16px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}